{:kotoba.app/id "cloud.itonami.isic-855", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreig4whsu2iz5ojvwv3u5vfvueeayqbux3lbpvlwbbfy7pvjx4irft4", :kotoba.app/embed-url "ipfs://bafkreig4whsu2iz5ojvwv3u5vfvueeayqbux3lbpvlwbbfy7pvjx4irft4", :published {:archive "https://kotobase.net/ipfs/bafkreig4whsu2iz5ojvwv3u5vfvueeayqbux3lbpvlwbbfy7pvjx4irft4", :size 71818, :put-status 201, :get-status 200, :at "2026-08-15T13:35:17.955Z"}}
